html, body, #root{
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
  user-select: none;
  color: red;
}

.mcv {
  font-size: 20pt;
}

.muda {
  background-color: blue;
  color: #FFF;
}

